# SMTP (восстановление пароля) ; mail.ru - пароль для внешних приложений

EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=465
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_SSL=

# OAuth GitHub: Settings - Developer settings - OAuth Apps
# Callback URL: http://localhost:8000/accounts/github/login/callback/
GITHUB_CLIENT_ID=
GITHUB_SECRET=

# OAuth Google: OAuth client ID
# Redirect URI: http://localhost:8000/accounts/google/login/callback/
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=

